@import '../../assets/scss/main.scss';

.static {
  @media screen and (max-width: $tablet) {
    padding: 0 1rem;

    &__portfolio {
      padding: 0;
    }
  }
  height: 100%;
  overflow: scroll;
}
