@charset "utf-8";

@import './variables.scss';
@import '../../../node_modules/bulma/bulma.sass';

body {
  position: relative;
  z-index: -2;
  // color: $dark;
  // background: $body-bg;
}

.is-slightly-transparent {
  // backdrop-filter: blur(3px) opacity(0.8);
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px) brightness(1.3);
}

.is-very-transparent {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px) brightness(1.3);
}

.slide-enter {
  opacity: 0;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.slide-exit {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: translate(250px, 0);
  transform: translate3d(250px, 0, 0);
}

.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.fade-exit {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.fade-exit.fade-exit-active {
  opacity: 0;
}

@mixin light-gradient() {
  background: $body-bg-light;
  position: relative;
  z-index: 1;
}

@mixin dark-gradient() {
  background: $body-bg-dark;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  transition: opacity $change-theme-duration;
}
