.portfolio-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;

  &__input {
    flex: 1;
    white-space: pre-wrap;
    &.title:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
