@import '../../assets/scss/main.scss';

.portfolio-site {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;

  &__body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 15rem;
    &.has-content {
      height: 30rem;
    }

    @media screen and (max-width: $tablet) {
      &.static-portfolio-site {
        flex-direction: column;
        height: auto;
        justify-content: center;

        div {
          width: 100%;
          margin: 2rem;
          height: 20rem;
          div.site-preview__flex {
            margin: 0;
          }
        }
      }
    }
  }

  &__dragged-over {
    background-color: rgba(185, 223, 215, 0.3);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    i {
      margin: 0.5rem 0;
    }
  }

  &__form {
    width: 35%;
    display: flex;
    justify-content: center;
    height: 15rem;
  }

  &__input {
    text-align: center;
    width: 100%;
  }
}
