@import '../../assets/scss/main.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed !important;
  left: 0;
  right: 0;
  &__logo.navbar-item {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $white;

    &:hover {
      color: $primary;
    }
    &:focus {
      color: $primary;
    }
  }
}
