.site-preview {
  object-fit: cover;

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 15rem;
    border-radius: 8px;
  }

  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  &__input {
    text-align: center;
    margin-top: 1rem;
    color: inherit;
    font-weight: bold;
  }
}
