@import '../../assets/scss/main.scss';

.portfolio-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    &.has-content {
      height: 30rem;
    }

    @media screen and (max-width: $tablet) {
      &.static-portfolio-image {
        flex-direction: column;
        height: auto;

        div {
          width: 100%;
          margin: 2rem;
          height: 20rem;
        }
      }
    }
  }

  &__dragged-over {
    background-color: rgba(185, 223, 215, 0.3);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    i {
      margin: 0.5rem 0;
    }
  }
}
