@import '../../assets/scss/main.scss';

.sidebar-component {
  height: calc(20% - 2rem);
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-dragged {
    width: 68vw !important;

    .sidebar-component__image {
      text-align: center;
      font-size: 4rem;
    }
  }

  &__image {
    font-size: 2rem;
    color: $grey-light;
  }

  &__video {
    font-size: 3rem;
    color: $grey-light;
  }

  &__message {
    color: black;
  }

  &__site {
    font-size: 2rem;
    color: $grey-light;
  }

  &__code {
    font-size: 2rem;
    color: $grey-light;
  }
}
